*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #0d6efd;
}

header {
    background: rgb(37, 37, 250);
    color: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    font-size: 42px;
    font-weight: bold;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    cursor: pointer;
}

nav a:last-child {
    background: #f7fbff;
    color: #0d6efd;
    padding: 10px 18px;
    border-radius: 20px;
}

.hero {
    padding: 90px 80px;
    background: #f7fbff;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    margin: 20px 0;
    color: #444;
}

.hero button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 25px;
    cursor: pointer;
}

.doctors {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 60px;
}

.doctors div {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 230px;
    text-align: center;
}

.doctors img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #0d6efd;
}

#appointmentModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 340px;
    position: relative;
}

.modal-box span {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 22px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

.modal-box button {
    width: 100%;
    background: #0d6efd;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}
#logo{
    color: #00d24b;
}
